
body {
    margin: 0;
}
#chat_window {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    color: white;
}
#comment_area {
    height: 88vh;
    background-color: darkgray;
}
#typing_area {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pick_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user_box {
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    background-color: darkslategray;
}