$myFont : sans-serif;
@mixin centerEveryThing {
    display: flex;
    align-items: center;
    justify-content: center;
}


body {
    margin: 0;
    font-family: $myFont;
}
#chat_window {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: lightgray;
    width: 100%;
    height: 100vh;
    color: white;
}
#comment_area {
    height: 70vh;
    background-color: darkgray;
}
#typing_area {
    height: 30vh;
    @include centerEveryThing();
}
#pick_user {
    @include centerEveryThing();
}
.user_box {
    width: 80px; height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: gray;
    margin: 0 30px;
    font-size: 1.2rem;
    @include centerEveryThing();
    cursor: pointer;
}
.user_box:hover {
    opacity: .5;
}